{% extends 'emails/layout.html.twig' %}

{% block body %}
<tr>
    <td align="center" vertical-align="middle" style="font-size:0px;padding:10px 25px;word-break:break-word;">
        <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%;">
            <tbody><tr>
                <td align="center" bgcolor="#2e58ff" role="presentation" style="border:none;border-radius:3px;cursor:auto;mso-padding-alt:10px 25px;background:#2e58ff;" valign="middle">
                    <a href="{{ action_url }}" style="display: inline-block; background: #2e58ff; color: white; font-family: Roboto, Helvetica, Arial, sans-serif; font-size: 13px; font-weight: normal; line-height: 30px; margin: 0; text-decoration: none; text-transform: none; padding: 10px
25px; mso-padding-alt: 0px; border-radius: 3px;" target="_blank"> {{ 'login_link_email.button'|trans }} </a>
                </td>
            </tr>
            </tbody></table>
    </td>
</tr>
{% endblock %}
